<h6 class="fw-bold text-uppercase border-bottom pb-2">Brands</h6>
<div class="d-flex flex-column">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="nike" />
    <label class="form-check-label user-select-none" for="nike">Nike</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="2" id="adidas" />
    <label class="form-check-label user-select-none" for="adidas">Adidas</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="3" id="jordan" />
    <label class="form-check-label user-select-none" for="jordan">Jordan</label>
  </div>
</div>
