<div class="delivery-form w-75 mx-auto">
  <form [formGroup]="form">
    <div class="d-flex flex-column flex-md-row mb-4 mb-md-0 gap-4">
      <div class="form-floating mb-2 flex-fill">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="John"
          formControlName="firstName"
        />
        <label for="floatingInput">First Name</label>
        <div
          [ngClass]="{visible: (form.controls['firstName'].touched || submitted) && form.controls['firstName'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter first name
        </div>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Doe"
          formControlName="lastName"
        />
        <label for="lastName">Last Name</label>
        <div
          [ngClass]="{visible: (form.controls['lastName'].touched || submitted) && form.controls['lastName'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter last name
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row gap-4 mb-4">
      <div class="form-floating mb-2 flex-fill">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="john.doe@email.com"
          formControlName="email"
        />
        <label for="email">Email</label>
        <div
          [ngClass]="{ visible: (form.controls['email'].touched || submitted) && (form.controls['email'].errors?.['required'] || form.controls['email'].errors?.['email'])}"
          class="control-error text-danger fw-semibold"
        >
          Please enter valid email address
        </div>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="number"
          formControlName="phoneNumber"
          placeholder="+61 123 456 789"
        />
        <label for="number">Phone Number</label>
        <div
          [ngClass]="{visible: (form.controls['phoneNumber'].touched || submitted) && form.controls['phoneNumber'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter phone number
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row gap-4 mb-4">
      <div class="form-floating mb-2 flex-fill">
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
          placeholder="London"
        />
        <label for="city">City</label>
        <div
          [ngClass]="{visible: (form.controls['city'].touched || submitted) && form.controls['city'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter city
        </div>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="country"
          formControlName="country"
          placeholder="England"
        />
        <label for="country">Country</label>
        <div
          [ngClass]="{visible: (form.controls['country'].touched || submitted) && form.controls['country'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter country
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row gap-4 mb-4">
      <div class="form-floating mb-2 flex-fill">
        <input
          type="text"
          class="form-control"
          id="street"
          formControlName="street"
          placeholder="Some Street No. 123"
        />
        <label for="street">Street</label>
        <div
          [ngClass]="{visible: (form.controls['street'].touched || submitted) && form.controls['street'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter street
        </div>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="postalCode"
          formControlName="postalCode"
          placeholder="1010"
        />
        <label for="postalCode">Postal Code</label>
        <div
          [ngClass]="{visible: (form.controls['postalCode'].touched || submitted) && form.controls['postalCode'].errors?.['required']}"
          class="control-error text-danger fw-semibold"
        >
          Please enter postal code
        </div>
      </div>
    </div>
  </form>
</div>
