<div *ngIf="cartSneakers?.length !== 0">
  <div class="title h3 fw-semibold text-center">
    {{ "yourCart" | translate }}
  </div>
  <div class="row header-row">
    <div class="col-md-3"></div>
    <div class="col-md-3 header-name">{{ "productName" | translate }}</div>
    <div class="col-md-2 header-name">{{ "size" | translate }}</div>
    <div class="col-md-2 header-name">{{ "price" | translate }}</div>
    <div class="col-md-2"></div>
  </div>
  <div *ngFor="let sneaker of cartSneakers" class="row sneaker-row">
    <img
      [src]="sneaker.images[1]"
      class="col-md-3 d-flex justify-content-center align-items-center"
    />
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      {{ sneaker.name }}
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      {{ fetchSneakerQuantity(sneaker.id) }}
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      {{ sneaker.price | currency : "USD" }}
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <i class="bi bi-x remove-item" (click)="removeItem(sneaker.id)"></i>
    </div>
  </div>
</div>
