.remove-item {
  cursor: pointer;
  font-size: 32px;
}

.header-name {
  font-weight: bold;
  text-align: center;
}

.sneaker-row {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}
