<div class="mt-5">
  <div class="mt-5 text-center" *ngIf="(cartSneakers$ | async)?.length === 0">
    <h3>{{ "bummer" | translate }}</h3>
    <span>{{ "selectSneakers" | translate }}</span>
  </div>
  <app-product-grid [cartSneakers]="cartSneakers$ | async"></app-product-grid>
  <div class="delivery-info mt-5">
    <app-delivery-info
      [form]="form"
      [submitted]="isSubmitted"
    ></app-delivery-info>
  </div>
  <app-total-info
    (checkout)="checkout()"
    [isValid]="form.valid"
    [sneakers]="cartSneakers$ | async"
  ></app-total-info>
</div>
