.premium-sneaker-detail-image {
  width: 50%;
  transform: rotate(-15deg);
}

@media screen and (max-width: 768px) {
  .premium-sneaker-details {
    flex-direction: column;
    text-align: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
}

@media (max-width: 1199.98px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
