<div class="container mt-5">
  <div class="premium-sneaker-preview text-center">
    <h2 class="fw-bold">Our Top Pick</h2>
    <h1 class="fw-bolder">Air Jordan 1 Shadow Toe</h1>
    <img
      src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2F553558-052%2F2.png&w=1920&q=75"
    />
  </div>
  <div
    class="premium-sneaker-details d-flex justify-content-between align-items-center"
  >
    <div class="premium-sneaker-text">
      <h3 class="fw-bold">Air Jordan 1 Shadow Toe</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
      <button class="btn btn-outline-charcoal-alt btn-lg">
        Buy Air Jordan 1 Shadow Toe
      </button>
    </div>
    <img
      class="premium-sneaker-detail-image"
      src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2F553558-052%2F1.png&w=1920&q=75"
    />
  </div>
  <div class="top-shoes mt-5 border-top">
    <h2 class="text-center my-5">Most Wanted Sneakers</h2>
    <div class="d-flex flex-wrap gap-5 justify-content-center">
      <div><app-sneaker-card></app-sneaker-card></div>
      <div><app-sneaker-card></app-sneaker-card></div>
      <div><app-sneaker-card></app-sneaker-card></div>
      <div><app-sneaker-card></app-sneaker-card></div>
      <div><app-sneaker-card></app-sneaker-card></div>
      <div><app-sneaker-card></app-sneaker-card></div>
    </div>
  </div>
</div>
