<div class="container mt-5">
  <div class="premium-sneaker-preview text-center">
    <h2 class="fw-bold">Our Top Pick</h2>
    <h1 class="fw-bolder">{{ (premiumSneaker$ | async)?.name }}</h1>
    <img class="img-fluid" [src]="(premiumSneaker$ | async)?.images?.[0]" />
  </div>
  <div
    class="premium-sneaker-details d-flex justify-content-between align-items-center"
  >
    <div class="premium-sneaker-text">
      <h3 class="fw-bold">{{ (premiumSneaker$ | async)?.name }}</h3>
      <p>
        {{ (premiumSneaker$ | async)?.description }}
      </p>
      <button
        *ngIf="premiumSneaker$ | async as premiumSneaker"
        class="btn btn-outline-charcoal-alt btn-lg"
        (click)="redirectToSneaker(premiumSneaker.id)"
      >
        Buy {{ (premiumSneaker$ | async)?.name }}
      </button>
    </div>
    <img
      class="premium-sneaker-detail-image img-fluid"
      [src]="(premiumSneaker$ | async)?.images?.[1]"
    />
  </div>
  <div class="top-shoes mt-5 border-top">
    <h2 class="text-center my-5">Most Wanted Sneakers</h2>
    <div class="grid-container">
      <app-sneaker-card
        *ngFor="let sneaker of sneakers$ | async"
        (click)="redirectToSneaker(sneaker.id)"
        [sneakerName]="sneaker.name"
        [sneakerPrice]="sneaker.price"
        [sneakerUrl]="sneaker.images[1]"
      ></app-sneaker-card>
    </div>
  </div>
</div>
