<div>
  <div class="d-flex flex-wrap gap-4 justify-content-center">
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
    <div><app-sneaker-card></app-sneaker-card></div>
  </div>
</div>
