<div class="mt-5">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex gap-4">
      <div class="form-floating mb-2 flex-fill">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="John"
        />
        <label for="firstName">First Name</label>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Doe"
        />
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="d-flex gap-4">
      <div class="form-floating mb-2 flex-fill">
        <input type="text" class="form-control" id="email" placeholder="John" />
        <label for="email">Email</label>
      </div>
      <div class="form-floating flex-fill">
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Doe"
        />
        <label for="address">Address</label>
      </div>
    </div>
    <textarea rows="8" type="text" class="form-control" id="message"></textarea>
    <button class="btn btn-outline-charcoal-alt mt-2">Submit</button>
  </div>
</div>
