.price-box {
  padding: 10px 100px 10px 20px;
  background-color: #3c4142;
  color: #ffffff;
  margin: unset;
  font-size: 20px;
}

.favorite-button {
  font-size: 30px;
  color: #3c4142;
}

@media screen and (max-width: 768px) {
  .sneaker-info {
    flex-direction: column;
    text-align: center;
  }
}
