<div
  class="d-flex justify-content-between align-items-center sneaker-info mt-5"
  *ngIf="selectedSneaker"
>
  <div class="sneaker-content">
    <h2 class="fw-bold text-uppercase">
      {{ selectedSneaker.name }}
    </h2>
    <p>
      {{ selectedSneaker.description }}
    </p>
    <app-selected-sneaker-size
      [sneakerSizes]="selectedSneaker.sizes"
      [selectedSize]="selectedSize"
      (selectSize)="selectNewSize($event)"
    ></app-selected-sneaker-size>
  </div>
  <img [src]="selectedSneaker.images[1]" />
</div>
<div class="d-flex justify-content-end gap-3">
  <button class="btn btn-link favorite-button">
    <i class="bi bi-heart"></i>
  </button>
  <button class="btn btn-outline-charcoal-alt" (click)="addSneakerToCart()">
    Add to Cart
  </button>
  <div class="d-flex align-items-center price-box fw-bold">
    <span>{{ selectedSneaker?.price | currency : "USD" }}</span>
  </div>
</div>
