<div
  class="d-flex justify-content-between align-items-center sneaker-info my-5"
  *ngIf="selectedSneaker"
>
  <div class="sneaker-content">
    <h2 class="fw-bold text-uppercase">
      {{ selectedSneaker.name }}
    </h2>
    <p>
      {{ selectedSneaker.description }}
    </p>
    <app-selected-sneaker-size
      [sneakerSizes]="selectedSneaker.sizes"
      [selectedSize]="selectedSize"
      (selectSize)="selectNewSize($event)"
    ></app-selected-sneaker-size>
  </div>
  <div class="sneaker-images">
    <ngb-carousel *ngIf="selectedSneaker.images">
      <ng-template ngbSlide *ngFor="let image of selectedSneaker.images">
        <div class="picsum-img-wrapper">
          <img class="img-fluid" [src]="image" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- <img class="img-fluid" [src]="selectedSneaker.images[1]" /> -->
</div>
<div class="d-flex justify-content-end gap-3">
  <button
    class="btn btn-outline-charcoal-alt"
    (click)="addSneakerToCart()"
    [disabled]="isButtonDisabled"
  >
    Add to Cart
  </button>
  <div class="d-flex align-items-center price-box fw-bold">
    <span>{{ selectedSneaker?.price | currency : "USD" }}</span>
  </div>
</div>
