<h6 class="fw-bold text-uppercase border-bottom pb-2">Gender</h6>
<div class="d-flex flex-column">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="MALE" id="male" />
    <label class="form-check-label user-select-none" for="male">Male</label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="FEMALE"
      id="female"
    />
    <label class="form-check-label user-select-none" for="female">Female</label>
  </div>
</div>
