<h6 class="fw-bold text-uppercase border-bottom pb-2">
  {{ "gender" | translate }}
</h6>
<div class="d-flex flex-column">
  <form [formGroup]="form">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="MALE"
        formControlName="male"
        id="male"
      />
      <label class="form-check-label user-select-none" for="male">{{
        "male" | translate
      }}</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="FEMALE"
        formControlName="female"
        id="female"
      />
      <label class="form-check-label user-select-none" for="female">{{
        "female" | translate
      }}</label>
    </div>
  </form>
</div>
