.form-control,
.form-select {
  border-radius: unset !important;
}
.form-control:focus,
.form-select:focus {
  border-color: #36454f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(54, 69, 79, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
