<div class="d-flex flex-row flex-fill gap-2">
  <div class="filter w-100">
    <div class="form-group mb-3">
      <input
        id="price"
        type="text"
        class="form-control"
        placeholder="Search by name ex. Jordan 1"
        (change)="onNameChange($event)"
      />
    </div>
  </div>
  <div class="sort-dropdown">
    <div class="form-group mb-3">
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onSortChange($event)"
      >
        <option selected value="name;asc">
          {{ "sneakerFilterNameAsc" | translate }}
        </option>
        <option value="name;desc">
          {{ "sneakerFilterNameDesc" | translate }}
        </option>
        <option value="price;asc">
          {{ "sneakerFilterPriceAsc" | translate }}
        </option>
        <option value="price;desc">
          {{ "sneakerFilterPriceDesc" | translate }}
        </option>
      </select>
    </div>
  </div>
</div>
