.size-element {
  border: 1px solid #36454f;
  padding: unset;
  cursor: pointer;
}

.size-element:hover {
  background-color: #36454f;
  color: #fff;
}

.selected {
  background-color: #36454f;
  color: #fff;
}
